@page "/fetchdata"
@inject HttpClient Http

<link rel="stylesheet" href="css/Style3.css" type="text/css" />

<h1>Punches: @punchCount</h1>


@if (imageSource is not null)
{
    <div>
        <img src="@imageSource" />
    </div>
}


<button class="btn btn-primary" @onclick="() => ShowImage()">
    Click to punch
</button>



@code {
    int imageId = 1;
    int punchCount = 0;
    private string? imageSource = $"images/1.jpg";

    private void ShowImage()
    {
        imageId++;
        if (imageId == 22)
        {
            imageId = 1;
            punchCount++;
        }
        imageSource = $"images/{imageId}.jpg";
    }

}






