@page "/"

@*@for (int i = 0; i < 5; i++)
{
    <p>Welcome to your new app.</p>
}*@


<h1>Mateusz Koniuch</h1>
<p>Numer albumu - 110893</p>
Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
